.my-info-contents {
    padding: 32px;
}

.my-info-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.my-info-container p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.my-info-form {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

.my-info-buttons {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
}

.my-info-cancel-button {
    border:none;
    background-color: #FFF7E8;
    border-radius: 100px;
    font-size: 18px;
    padding: 16px 40px;
    box-shadow: 1px 3px 15px #f0f0f0;
    color: #777C89;
}

.my-info-complete-button {
    border:none;
    background-color: #FFD686;
    border-radius: 100px;
    font-size: 18px;
    padding: 16px 40px;
    box-shadow: 1px 3px 15px #f0f0f0;
    color: white;
    text-decoration: none;
}

.my-info-cancel-button {
    text-decoration: none;
}

.input-box {
    width: 100%;
    height: 60px;
    border: solid 1px #FFD686;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0;
}

.input-box input::placeholder {
    font-size: 14px;
    color: #777C89;
}

.input-box input {
    border: none;
    width: 80%;
    padding: 8px;
}

.input-icon {
    color: #777C89;
    margin: 8px 8px 8px 25px;
    width: 15px;
    height: 15px;
}

.my-info-form p {
    width: 100%;
    margin: 10px;
    font-size: 12px;
    color: red;
    font-weight: normal;
}

@media (max-width: 530px) {
    .profile-container {
        margin: 0;
        padding: 80px 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .profile-contents {
        height: 80vh;
    }
}