.main-container {
    position: relative;
    top: 150px;
}

.logo {
    width: 156px;
    height: auto;
    margin-top: 150px;
    margin-bottom: 48px;
  }

.login-form {
    margin:0 32px 0 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    /*display: block;*/
    width: 326px;
    margin: 9px 0 18px 0;
    padding: 22px 0 22px 47px;
    border: 1px solid #FFD686;
    border-radius: 16px;
    background: transparent;
    outline: none;
    font-size: 14px;
  }
  

.login-form button {
    width: 326px;
    padding: 21px 0 21px 0;
    border: none;
    border-radius: 16px;
    background-color: #FFD686;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.to-signup {
    display: flex; 
    align-items: center; 
    color: #111111;
    text-decoration: none;
    font-size: 14px;
    margin: 59px 0 0 0;
    justify-content: center; 
}

.to-signup span {
    font-weight: bold;
}

.to-signup a { 
    text-decoration: underline;
    font-weight: bold;
    color: #FFD686;
    padding: 0 0 0 14px;
}

@media (max-width: 530px) {
    .logo {
        width: 156px;
        height: auto;
        margin-bottom: 48px;
    }
}