.today-no-diary {
    font-size: 18px;
    padding:0;
    margin: 60px 0;
}

.emotion-content {
    background-color: white;
    border-radius: 16px;
    box-shadow: 1px 3px 15px #f0f0f0;
    margin: 16px 24px;
    padding: 11px 24px;
}

.inst1 {
    font-size: 18px;
    padding: 0;
    margin: 2px;
}

.emotion {
    padding: 4px;
    margin: 3px;
    font-size: 24px;
    font-weight: bold;
}

.pn-score {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pn-score p span {
    font-weight: bold;
}

.pn-score p {
    margin: 15px 8px 5px 8px;
    font-size: 14px;
}

.people {
    font-size: 14px;
}

.people span {
    font-weight: bold;
}

.face {
    margin: 2px;
    padding: 4px;
    width: 70px;
    height: 70px;
    color: rgb(255, 176, 176);
}

.advice-container {
    margin: 24px;
    display: flex;
    flex-direction: column;

}

.inst2 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 150%;
    padding: 0 10px;
    margin:0 0 8px 0 ;
}

.advice-box {
    background-color: white;
    border-radius: 16px;
    padding: 19px 24px;
    line-height: 150%;
    margin: 4px 0;
    
}

.advice-box p {
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    padding:0;
    margin: 0;
}

.today-scroll-container {
    height: 455px;
    overflow: scroll;
}

.today-container {
    height: 100%
}

.advice-send-box {
    display: flex;
    flex-direction: row;
    margin: 16px 24px;
    justify-content: center;
}

.advice-send-box input {
    width: 291px;
    height: 40px;
    padding: 12px;
    border: 1px solid #FFD686;
    border-radius: 16px;
    background-color: white;
    outline: none;
    margin: 0 10px 0 0;
    border-radius: 16px;
}

.advice-send-box input::placeholder {
    color: #777C89;
    font-size: 12px;
}

.advice-send-box button {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    place-content: center;
    background-color: #FFD686;
    border: none;
    padding: 0;
}

.send-icon {
    width: 15px;
    height: 15px;
    color: white;
    text-align: center;
}