.diary-list {
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
}

.diary-component {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.diary-component h2 {
    font-weight: normal;
    font-size: 18px;
    margin: 0 20px;
}

.diary-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.diary-emotion {
    color: rgb(255, 176, 176);
    width: 35px;
    height: 35px;
}

.down-icon, .up-icon {
    width: 20px;
    height: 20px;
    color: #D9D9D9;
    margin: 5px;
}

.diary-content-gathering {
    text-align: left;
    font-size: 14px;
    padding: 16px 5px;
    margin: 10px 0 0 0;
    line-height: 160%;
    width: 100%;
    border-top: 1px solid #D9D9D9;
    display: none; /* 기본적으로 숨김 */
}

.diary-bar-container {
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 16px;
    border-radius: 16px;
    box-shadow: 1px 3px 15px #f0f0f0;
    margin: 4px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 60px; /* 기본 높이 설정 */
    overflow: hidden;
}

.diary-bar-container.open {
    height: auto; /* 열렸을 때 높이 자동 조정 */
}

.diary-bar-container.open .diary-content-gathering {
    display: block; /* 열렸을 때만 표시 */
}
